[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
werobot = "*"
openai = "*"
cryptography = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
